%h1= @user.full_name
%h2= full_addr
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "640", :src => "https://www.google.com/maps/embed/v1/place?key=#{ENV['GOOGLE']}&q=#{coordinates(@user)}", :style => "border:0", :width => "640"}